node_modules
vendor
.git
.env
.env.*
database/database.sqlite
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
public/storage
public/build
.idea
.vscode
.fleet
